@import './../base/base.scss';
.about_me_page {
  margin-top: -3rem;
  position: absolute;
  width: 80vw;
  & h2 {
    @include typography_about_h;
    text-align: left;
  }
  & img {
    position: absolute;
    left: 0px;
    margin-top: 4rem;
    width: 422px;
    height: 440px;
    gap: 0px;
    border-radius: 16px;
    opacity: 0px;
  }
  & .text {
    @include typography_about_text;
    position: absolute;
    top: calc(6rem + 440px + 3.87rem);
    text-align: left;
    width: 80vw;
    height: 30vh;
    & .about_me_span {
      position: absolute;
      margin-top: 3rem;
      text-align: left;
      left: 0;
    }
  }
}
