@import './../base/base.scss';
.intro_section {
  position: absolute;
  display: flex;
  top: 10rem;
  left: 10vw;
  height: 13rem;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: flex-start;
  @include typography_intro;

  & h2 span {
    font-size: 48px;
    font-weight: 400;
  }
}
