@import './../base/base.scss';

.main_project {
  position: absolute;
  top: calc(3rem + 10rem + 8rem + 6.5rem);
  height: 80vw;
  min-width: 80vw;
}
.main_project_icon a {
  text-decoration: none;
  h2 {
    margin-top: 1.5rem;
    @include typography_prolect_name;
    text-align: left;
  }
  img {
    width: 80vw;
    height: 50vw;
    border-radius: 1rem;
  }
}
.main_projects_group {
  position: absolute;
  display: flex;
  top: calc(3rem + 10rem + 8rem + 6.5rem + 50vw + 6rem);
  min-width: 80vw;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}
.main_project_icon2 a {
  text-decoration: none;
  h2 {
    @include typography_prolect_name;
    text-align: left;
  }
  img {
    width: calc(40vw - 2.5rem);
    height: calc(40vw - 2.5rem);
    border-radius: 1rem;
  }
}

.main_footer {
  position: absolute;
  top: calc(3rem + 10rem + 13rem + 6.5rem + 60vw + 3rem + 44vw);
  @include typography_prolect_name;
  width: 80vw;
  display: flex;
  justify-content: center;
}
