* {
  box-sizing: border-box;
  padding-left: 0;
  margin: 0;
  text-align: center;
}

.App {
  position: relative;
  width: 80vw;
  margin: 0 auto;
}

.container {
  position: absolute;
  top: 10rem;
  width: 100%;
}